<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Nouveau potin</a>
    <% gossips.each_with_index do |gossip| %>
        <p>
			<%= gossip.author %><br/>
			<%= gossip.content %> <!-- <%= %> sert à afficher un string Ruby -->
        </p>
	<% end %>
  </body>
</html>