<html>
  <head>
    <title>Page Potin</title>
  </head>
  <body>
    <h1>Voici le potin n°<%= params['id'] %></h1>
    <p> Son auteur : <%= gossip.author %><br/>
		Le contenu du potin : "<%= gossip.content %>" <!-- <%= %> sert à afficher un string Ruby -->
    </p>
    <a href="/">Lien pour revenir à la page principale</a>

  </body>
</html>